@charset "UTF-8";
/*! lixinjie 20181127 github.com/xinjie-just/meipo-phone.git */
@import "variables";
@import "reboot";
@import "iconfont";

/*===全局设置===*/
.cn {
  font-family: "Microsoft Yahei", "苹方", sans-serif;
}
.en {
  font-family: Arial, sans-serif;
}
.heading {
  font-family: "宋体", sans-serif;
}
// 页面顶部 header 部分高度
$header-height: .5rem;

/*===首页===*/
/*导航*/
.nav-wrapper {
  display: none;
  z-index: 999;
  position: fixed;
  top: $header-height;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(43,45,53,1);
  .nav {
    height: 100%;
    overflow-y: auto;
    padding-right: .16rem;
    padding-left: .16rem;
    a {
      display: block;
      padding-right: 1em;
      padding-left: 1em;
      height: $header-height;
      border-bottom: 1px solid #3b3c3f;
      line-height:  calc(#{$header-height} - 1px);
      font-size: .13rem;
      color: #fff;
      text-align: right;
      &.active {
        color: $main-color;
      }
    }
  }
}
/*头部*/
.header {
  z-index: 1;
  @extend %page-width;
  height: $header-height;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: #050C23;
  h1 {
    @extend %ellipsis;
    z-index: 2;
    position: absolute;
    left: 50%;
    width: calc(100% - #{$header-height} * 2);
    height: $header-height;
    transform: translateX(-50%);
    font-size: .24rem;
    color: #fff;
    text-align: center;
    background: url("../images/logo.png") no-repeat center center / 63%;
    a {
      display: block;
      width: 100%;
      height: 100%;
    }
  }
  .back-btn {
    z-index: 3;
    position: absolute;
    top: 0;
    left: 0;
    width: $header-height;
    height: $header-height;
    line-height: $header-height;
    text-align: center;
    color: #fff;
    font-size: .2rem;
  }
  .menu-btn {
    z-index: 3;
    position: absolute;
    top: 0;
    right: 0;
    width: $header-height;
    height: $header-height;
    line-height: $header-height;
    text-align: center;
    color: #fff;
    font-size: .15rem;
  }
}
/*页面容器*/
.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.main {
  flex: 1;
  padding-top: $header-height;
  overflow-y: auto;
}


/*主要内容*/
.home-section {
  @include center-content();
  padding-top: .3rem;
  padding-bottom: .3rem;
  &:nth-of-type(2n + 1) {
    background-color: #fff;
  }
  &:nth-of-type(2n + 2) {
    background-color: $bg-color;
  }
  .heading {
    position: relative;
    width: 100%;
    height: .4rem;
    margin-bottom: .15rem;
    background: url("../images/heading-bg-icon.png") no-repeat center bottom / .1rem;
    font-size: .18rem;
    color: $main-color;
    text-align: center;
    font-family: "宋体", sans-serif;
    font-weight: 600;
    &::before,
    &::after {
      content: "";
      position: absolute;
      bottom: .05rem;
      width: calc(50% - .15rem);
      height: 1px;
      background-color: #999;
    }
    &::before {
      left: 0;
    }
    &::after {
      right: 0;
    }
  }
  .body {
    margin-bottom: .15rem;
  }
}

/*关于美珀*/
.home-about {
  .body {
    @include line-clamp(3);
    font-size: .12rem;
    line-height: 2em;
    max-height: calc(2em * 3);
    text-align: center;
  }
  .footer {
    display: table;
    margin-right: auto;
    margin-left: auto;
    padding: .05rem .17rem .05rem calc(.17rem + .01rem);
    background-color: #fff3ec;
    box-shadow: 0 5px 0 0 #b49880;
    font-size: .11rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: .01rem;
    color: $main-color;
  }
}

/*产品中心*/
.home-product {
  .body {
    @extend %clearfix;
    margin-bottom: .25rem;
    li {
      float: left;
      width: 48.4%;
      margin-top: .06rem;
      margin-bottom: .06rem;
      &:nth-of-type(2n + 1) {
        margin-right: 3.2%;
      }
      &:nth-of-type(4) ~ li {
        display: none;
      }
      img {
        display: block;
        width: 100%;
        height: 1.3rem;
      }
      h4 {
        background-color: #fff;
        height: .7rem;
        padding: .1rem;
        border-bottom-right-radius: .02rem;
        border-bottom-left-radius: .02rem;
        overflow: hidden;
        .cn {
          @extend %ellipsis;
          display: block;
          color: $text-color;
          font-size: .14rem;
          font-weight: 500;
          margin-bottom: .04rem;
        }
        .en {
          @include line-clamp(2);
          display: block;
          color: #666;
          font-size: .1rem;
          line-height: 1.3em;
          max-height: calc(1.3em * 2);
          font-weight: 300;
          word-break: normal;
          word-wrap: break-word;
        }
      }
    }
  }
  .footer {
    display: table;
    margin-right: auto;
    margin-left: auto;
    padding: .1rem .22rem;
    background-color: transparent;
    font-size: .11rem;
    font-weight: 600;
    text-transform: uppercase;
    color: #999;
    border: 1px solid;
  }
}

/*招商加盟*/
.home-join {
  .body {
    img {
      display: block;
      max-width: 100%;
      height: auto;
      margin: .25rem auto 0;
    }
    dl {
      @extend %clearfix;
      margin-top: .2rem;
      dt  {
        display: block;
        font-size: .14rem;
        line-height: 1.6;
        font-weight: 500;
        text-align: center;
        color: #33436a;
        margin-bottom: .07rem;
      }
      dd {
        display: block;
        color: $text-color;
        font-size: .12rem;
        line-height: 2;
        float: left;
        text-align: center;
        width: 33.33333333%;
        @media (max-width: 374px) {
          width: 50%;
        }
      }
    }
  }
  .footer {
    display: table;
    margin-right: auto;
    margin-left: auto;
    padding: .05rem .17rem .05rem calc(.17rem + .01rem);
    background-color: #fff3ec;
    box-shadow: 0 5px 0 0 #b49880;
    font-size: .11rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: .01rem;
    color: $main-color;
  }
}

/*联系我们*/
.home-contact {
  .body {
    @extend %ellipsis;
    color: $text-color;
    font-size: .12rem;
    line-height: 2em;
    margin-bottom: .22rem;
    > div {
      @media (max-width: 374px) {
        width: 100%;
        float: none;
      }
      float: left;
      width: 50%;
    }
    .addr {
      width: 100%;
    }
  }
  .footer {
    width: 100%;
    padding-top: 1.43rem;
    text-align: center;
    color: #666;
    font-size: .12rem;
    background: url("../images/weixin-code.png") no-repeat center top / 1.26rem;
  }
}

/*.others {
  z-index: 9999;
  width: .3rem;
  height: .64rem;
  position: fixed;
  top: 50%;
  right: .05rem;
  transform: translateY(-50%);
  > a {
    display: block;
    width: .3rem;
    height: .3rem;
    text-align: center;
    line-height: .3rem;
    border-radius: 50%;
    &.qq {
      background-color: #18acfc;
      margin-bottom: .04rem;
    }
    &.totop {
      display: none;
      background-color: #1b95df;
    }
    i {
      font-size: .18rem;
      color: #fff;
    }
  }
}*/

section {
  @include center-content(92%);
  padding-top: .3rem;
  &:not(:first-of-type) {
    padding-bottom: .3rem;
  }
  .heading {
    position: relative;
    width: 100%;
    height: .4rem;
    margin-bottom: .15rem;
    background: url("../images/heading-bg-icon.png") no-repeat center bottom / .1rem;
    font-size: .18rem;
    color: $main-color;
    text-align: center;
    font-family: "宋体", sans-serif;
    font-weight: 600;
    &::before,
    &::after {
      content: "";
      position: absolute;
      bottom: .05rem;
      width: calc(50% - .15rem);
      height: 1px;
      background-color: #999;
    }
    &::before {
      left: 0;
    }
    &::after {
      right: 0;
    }
  }
  .body {
    color: $text-color;
    font-size: .12rem;
    img {
      display: block;
      max-width: 100%;
      height: auto;
      margin: .15rem auto 0;
    }
    img + img {
      margin-top: .08rem;
    }
    p,
    div {
      line-height: .26rem;
      word-wrap: break-word;
      margin-top: .1rem;
    }
    img {
      & + p,
      & + div {
        margin-top: .1rem;
      }
    }
    div {
      > p,
      > div {
        margin-top: .05rem;
      }
    }
    img {
      & + div {
        div,
        p {
          margin-top: .05rem;
        }
      }
    }
  }
}

/*===关于美珀===*/
@mixin n-items($n) {
  &:first-child:nth-last-child(#{$n}),
  &:first-child:nth-last-child(#{$n}) ~ &{
    width: calc(100% / #{$n});
  }
}
.about-section {
  display: none;
  &.active {
    display: block;
  }
}
.sub-nav {
  $height: .44rem;
  width: 100%;
  height: .44rem;
  box-shadow: 0 1px 0 0 #ccc;
  white-space: nowrap;
  overflow-x: auto;
  font-size: 0;
}
.sub-nav-item {
  $height: .44rem;
  @extend %ellipsis;
  display: inline-block;
  vertical-align: middle;
  height: $height;
  line-height: $height;
  text-align: center;
  @include n-items(1);
  @include n-items(2);
  @include n-items(3);
  @include n-items(4);
  &:first-child:nth-last-child(n + 5),
  &:first-child:nth-last-child(n + 5) ~ & {
    padding-right: .15rem;
    padding-left: .15rem;
  }
  a {
    display: inline-block;
    height: $height;
    line-height: $height;
    border-bottom: 1px solid transparent;
    color: $text-color;
    font-size: .14rem;
    &.active {
      color: $main-color;
      border-bottom-color: currentColor;
    }
  }
}
/*企业简介*/
.about-introduce {
  .culture {
    .body {
      .text {
        margin-top: .25rem;
      }
      dl {
        display: flex;
        flex-direction: row;
        color: $text-color;
        font-size: .12rem;
        &:not(:last-of-type) {
          margin-bottom: .05rem;
        }
        dt {
          //width: .75rem;
          //text-align: right;
          color: #68400b;
          line-height: 2;
        }
        dd {
          flex: 1;
          line-height: 2;
        }
      }
    }
  }
}
/*品牌理念*/
.about-idea {
  .grade {
    .picture {
      .picture-list {
        white-space: nowrap;
        overflow-y: auto;
        margin-bottom: .22rem;
        img {
          display: inline-block;
          width: 2rem;
          height: 1rem;
          &:not(:last-of-type) {
            margin-right: .15rem;
          }
        }
      }
      strong {
        display: block;
        font-size: .12rem;
        font-weight: normal;
        color: #666;
        text-align: center;
        line-height: 2;
      }
    }
  }
}
/*美珀优势*/
.about-advantage {
  padding-top: .3rem;
  padding-bottom: .3rem;
  .body {
    li {
      &:not(:last-of-type) {
        margin-bottom: .42rem;
      }
      width: 100%;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: left top;
      @for $index from 1 through 4 {
        &:nth-of-type(#{$index}) {
          background-image: url("../images/about-advantage#{$index}.png");
        }
      }
      &:nth-of-type(1) {
        padding-top: .49rem;
        padding-left: 1.05rem;
      }
      &:nth-of-type(2) {
        padding-right: 1.05rem;
      }
      &:nth-of-type(3) {
        padding-top: .22rem;
        padding-left: 1.14rem;
      }
      &:nth-of-type(4) {
        padding-right: 1.05rem;
      }
      dl {
        font-size: .12rem;
        color: $text-color;
        &:not(:last-of-type) {
          margin-bottom: .3rem;
        }
        dt {
          font-size: .15rem;
          font-weight: 500;
          color: #33436a;
          line-height: 1.6;
          margin-bottom: .07rem;
        }
        dd {
          font-size: .12rem;
          line-height: 1.8;
          color: inherit;
        }
      }
    }
  }
}

/*===联系我们===*/
.contact-section {
  padding-top: .3rem;
  padding-bottom: .3rem;
  .body {
    @extend %ellipsis;
    color: $text-color;
    font-size: .12rem;
    line-height: 2em;
    margin-bottom: .22rem;
    padding-top: 0;
    padding-bottom: 0;
    img {
      margin-top: 0;
      margin-bottom: .25rem;
    }
    > div {
      @media (max-width: 374px) {
        width: 100%;
        float: none;
      }
      float: left;
      width: 50%;
    }
    .addr {
      width: 100%;
    }
    .tel,
    .addr {
      a {
        color: $main-color;
        text-decoration: underline;
      }
    }
  }
  .footer {
    width: 100%;
    padding-top: 1.43rem;
    text-align: center;
    color: #666;
    font-size: .12rem;
    background: url("../images/weixin-code.png") no-repeat center top / 1.26rem;
  }
}

/*===招商加盟===*/
/*市场前景*/
.join-market {
  .body {
    img {
      margin-bottom: .25rem;
    }
    dl {
      display: block;
      color: $text-color;
      font-size: .12rem;
      line-height: 1.9;
      &:not(:last-of-type) {
        margin-bottom: .25rem;
      }
      dt {
        @extend %ellipsis;
        position: relative;
        display: block;
        font-size: .14rem;
        color: inherit;
        font-weight: 600;
        height: .16rem;
        line-height: .16rem;
        padding-left: .24rem;
        &::before {
          content: "+";
          position: absolute;
          top: 50%;
          left: 0;
          transform: translateY(-50%);
          width: .14rem;
          height: .14rem;
          line-height: calc(.14rem - 4px);
          text-align: center;
          font-size: .08rem;
          color: #999;
          border: 1px solid currentColor;
        }
      }
      dd {
        display: none;
        margin-top: .1rem;
        color: inherit;
        font-size: .12rem;
        line-height: inherit;
      }
      &.expand {
        dt {
          &::before {
            content: "-";
            color: $main-color;
          }
        }
        dd {
          display: block;
        }
      }
      &.collapse {
        dt {
          &::before {
            content: "+";
            color: #999;
          }
        }
        dd {
          display: none;
        }
      }
    }
  }
}
