@charset "UTF-8";
/*! lixinjie 20181127 github.com/xinjie-just/meipo-phone.git */
@import "variables";
@import "reboot";
@import "iconfont";

/*===全局设置===*/
.cn {
  font-family: "Microsoft Yahei", "苹方", sans-serif;
}
.en {
  font-family: Arial, sans-serif;
}
.heading {
  font-family: "宋体", sans-serif;
}
// 页面顶部 header 部分高度
$header-height: .5rem;
// 二级导航的高度
$subNavHeight: .44rem;

/*===首页===*/
/*导航*/
.nav-wrapper {
  display: none;
  z-index: 999;
  position: fixed;
  top: $header-height;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(43,45,53,1);
  .nav {
    height: 100%;
    overflow-y: auto;
    padding-right: .16rem;
    padding-left: .16rem;
    a {
      display: block;
      padding-right: 1em;
      padding-left: 1em;
      height: $header-height;
      border-bottom: 1px solid #3b3c3f;
      line-height:  calc(#{$header-height} - 1px);
      font-size: .13rem;
      color: #fff;
      text-align: right;
      &.active {
        color: #e5c27b;
      }
    }
  }
}
/*头部*/
.header {
  z-index: 101;
  @extend %page-width;
  height: $header-height;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: #050C23;
  h1 {
    @extend %ellipsis;
    z-index: 102;
    position: absolute;
    left: 50%;
    width: calc(100% - #{$header-height} * 2);
    height: $header-height;
    transform: translateX(-50%);
    font-size: .24rem;
    color: #fff;
    text-align: center;
    background: url("../images/logo.png") no-repeat center center / 63%;
    a {
      display: block;
      width: 100%;
      height: 100%;
    }
  }
  .back-btn {
    z-index: 103;
    position: absolute;
    top: 0;
    left: 0;
    width: $header-height;
    height: $header-height;
    line-height: $header-height;
    text-align: center;
    color: #fff;
    font-size: .2rem;
  }
  .menu-btn {
    z-index: 103;
    position: absolute;
    top: 0;
    right: 0;
    width: $header-height;
    height: $header-height;
    line-height: $header-height;
    text-align: center;
    color: #fff;
    font-size: .15rem;
  }
}
/*页面容器*/
.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.main {
  flex: 1;
  padding-top: $header-height;
  overflow-y: auto;
}


/*主要内容*/
.home-section {
  @include center-content();
  padding-top: .3rem;
  padding-bottom: .3rem;
  &:nth-of-type(2n + 1) {
    background-color: #fff;
  }
  &:nth-of-type(2n + 2) {
    background-color: $bg-color;
  }
  .heading {
    position: relative;
    width: 100%;
    height: .5rem;
    margin-bottom: .15rem;
    background: url("../images/heading-bg-icon.png") no-repeat center bottom / .1rem;
    font-size: .18rem;
    color: $main-color;
    text-align: center;
    font-family: "宋体", sans-serif;
    font-weight: 600;
    &::before,
    &::after {
      content: "";
      position: absolute;
      bottom: .05rem;
      width: calc(50% - .15rem);
      height: 1px;
      background-color: #999;
    }
    &::before {
      left: 0;
    }
    &::after {
      right: 0;
    }
  }
  .body {
    margin-bottom: .15rem;
    > div {
      margin-top: 0;
    }
  }
}

/*关于美珀*/
.home-about {
  .heading {
    background: url("../images/home-about-title.png") no-repeat center top / .75rem .193rem,
            url("../images/heading-bg-icon.png") no-repeat center bottom / .1rem;
  }
  .body {
    @include line-clamp(3);
    font-size: .12rem;
    line-height: 2em;
    max-height: calc(2em * 3);
    text-align: center;
  }
  .footer {
    display: table;
    margin-right: auto;
    margin-left: auto;
    padding: .05rem .17rem .05rem calc(.17rem + .01rem);
    background-color: #fff3ec;
    box-shadow: 0 5px 0 0 #b49880;
    font-size: .11rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: .01rem;
    color: $main-color;
  }
}

/*产品中心*/
.home-product {
  .heading {
    background: url("../images/home-product-title.png") no-repeat center top / .75rem .193rem,
    url("../images/heading-bg-icon.png") no-repeat center bottom / .1rem;
  }
  .body {
    @extend %clearfix;
    margin-bottom: .25rem;
    li {
      float: left;
      width: 48.4%;
      margin-top: .06rem;
      margin-bottom: .06rem;
      > a {
        display: block;
        width: 100%;
        height: 100%;
      }
      &:nth-of-type(2n + 1) {
        margin-right: 3.2%;
      }
      &:nth-of-type(4) ~ li {
        display: none;
      }
      img {
        display: block;
        width: 100%;
        height: 1.3rem;
      }
      h4 {
        background-color: #fff;
        height: .7rem;
        padding: .1rem;
        border-bottom-right-radius: .02rem;
        border-bottom-left-radius: .02rem;
        overflow: hidden;
        .cn {
          @extend %ellipsis;
          display: block;
          color: $text-color;
          font-size: .14rem;
          font-weight: 500;
          margin-bottom: .04rem;
        }
        .en {
          @include line-clamp(2);
          display: block;
          color: #666;
          font-size: .1rem;
          line-height: 1.3em;
          max-height: calc(1.3em * 2);
          font-weight: 300;
          word-break: normal;
          word-wrap: break-word;
        }
      }
    }
  }
  .footer {
    display: table;
    margin-right: auto;
    margin-left: auto;
    padding: .1rem .22rem;
    background-color: transparent;
    font-size: .11rem;
    font-weight: 600;
    text-transform: uppercase;
    color: #999;
    border: 1px solid;
  }
}

/*招商加盟*/
.home-join {
  .heading {
    background: url("../images/home-join-title.png") no-repeat center top / .75rem .193rem,
    url("../images/heading-bg-icon.png") no-repeat center bottom / .1rem;
  }
  .body {
    img {
      display: block;
      max-width: 100%;
      height: auto;
      margin: .25rem auto 0;
    }
    dl {
      @extend %clearfix;
      margin-top: .2rem;
      dt  {
        display: block;
        font-size: .14rem;
        line-height: 1.6;
        font-weight: 500;
        text-align: center;
        color: #33436a;
        margin-bottom: .07rem;
      }
      dd {
        display: block;
        color: $text-color;
        font-size: .12rem;
        line-height: 2;
        float: left;
        text-align: center;
        width: 33.33333333%;
        @media (max-width: 374px) {
          width: 50%;
        }
      }
    }
  }
  .footer {
    display: table;
    margin-right: auto;
    margin-left: auto;
    padding: .05rem .17rem .05rem calc(.17rem + .01rem);
    background-color: #fff3ec;
    box-shadow: 0 5px 0 0 #b49880;
    font-size: .11rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: .01rem;
    color: $main-color;
  }
}

/*联系我们*/
.home-contact {
  .heading {
    background: url("../images/home-contact-title.png") no-repeat center top / .75rem .193rem,
    url("../images/heading-bg-icon.png") no-repeat center bottom / .1rem;
  }
  .body {
    @extend %ellipsis;
    color: $text-color;
    font-size: .12rem;
    line-height: 2em;
    margin-bottom: .22rem;
    > div {
      @media (max-width: 374px) {
        width: 100%;
        float: none;
      }
      float: left;
      width: 50%;
    }
    .addr {
      width: 100%;
    }
  }
  .footer {
    width: 100%;
    padding-top: 1.43rem;
    text-align: center;
    color: #666;
    font-size: .12rem;
    background: url("../images/weixin-code.png") no-repeat center top / 1.26rem;
  }
}

/*.others {
  z-index: 9999;
  width: .3rem;
  height: .64rem;
  position: fixed;
  top: 50%;
  right: .05rem;
  transform: translateY(-50%);
  > a {
    display: block;
    width: .3rem;
    height: .3rem;
    text-align: center;
    line-height: .3rem;
    border-radius: 50%;
    &.qq {
      background-color: #18acfc;
      margin-bottom: .04rem;
    }
    &.totop {
      display: none;
      background-color: #1b95df;
    }
    i {
      font-size: .18rem;
      color: #fff;
    }
  }
}*/

section {
  @include center-content(92%);
  padding-top: .3rem;
  &:not(:first-of-type) {
    padding-bottom: .3rem;
  }
  .heading {
    position: relative;
    width: 100%;
    height: .45rem;
    margin-bottom: .25rem;
    background: url("../images/heading-bg-icon.png") no-repeat center bottom / .1rem;
    font-size: .18rem;
    color: $main-color;
    text-align: center;
    font-family: "宋体", sans-serif;
    font-weight: 600;
    &::before,
    &::after {
      content: "";
      position: absolute;
      bottom: .05rem;
      width: calc(50% - .15rem);
      height: 1px;
      background-color: #999;
    }
    &::before {
      left: 0;
    }
    &::after {
      right: 0;
    }
  }
  .body {
    color: $text-color;
    font-size: .12rem;
    img {
      display: block;
      max-width: 100%;
      height: auto;
      margin: .15rem auto 0;
    }
    p,
    div {
      line-height: .25rem;
      word-wrap: break-word;
    }
    img + img {
      margin-top: .08rem;
    }
    p,
    div {
      line-height: .26rem;
      word-wrap: break-word;
      margin-top: .1rem;
    }
    img {
      & + p,
      & + div {
        margin-top: .1rem;
      }
    }
    div {
      > p,
      > div {
        margin-top: .05rem;
      }
    }
    img {
      & + div {
        div,
        p {
          margin-top: .05rem;
        }
      }
    }
  }
}

/*===关于美珀===*/
@mixin n-items($n) {
  &:first-child:nth-last-child(#{$n}),
  &:first-child:nth-last-child(#{$n}) ~ &{
    width: calc(100% / #{$n});
  }
}
.about-section {
  display: none;
  &.active {
    display: block;
  }
}
.sub-nav {
  @extend %page-width;
  z-index: 101;
  position: fixed;
  top: $header-height;
  left: 50%;
  transform: translateX(-50%);
  height: $subNavHeight;
  box-shadow: 0 1px 0 0 #ccc;
  white-space: nowrap;
  overflow-x: auto;
  font-size: 0;
  background-color: #fff;
}
.sub-nav-item {
  @extend %ellipsis;
  display: inline-block;
  vertical-align: middle;
  height: $subNavHeight;
  line-height: $subNavHeight;
  text-align: center;
  @include n-items(1);
  @include n-items(2);
  @include n-items(3);
  @include n-items(4);
  &:first-child:nth-last-child(n + 5),
  &:first-child:nth-last-child(n + 5) ~ & {
    padding-right: .15rem;
    padding-left: .15rem;
  }
  a {
    display: inline-block;
    height: $subNavHeight;
    line-height: $subNavHeight;
    border-bottom: 1px solid transparent;
    color: $text-color;
    font-size: .14rem;
    &.active {
      color: $main-color;
      border-bottom-color: currentColor;
    }
  }
}
.sub-nav ~ section {
  margin-top: $subNavHeight;
}
/*企业简介*/
.about-introduce {
  .intro {
    .heading {
      background: url("../images/about-introduce-intro-title.png") no-repeat center top / .75rem .193rem,
      url("../images/heading-bg-icon.png") no-repeat center bottom / .1rem;
    }
  }
  .culture {
    .heading {
      background: url("../images/about-introduce-culture-title.png") no-repeat center top / .75rem .193rem,
      url("../images/heading-bg-icon.png") no-repeat center bottom / .1rem;
    }
    margin-top: .3rem;
    margin-bottom: .3rem;
    .body {
      .text {
        margin-top: .25rem;
      }
      dl {
        display: flex;
        flex-direction: row;
        color: $text-color;
        font-size: .12rem;
        &:not(:last-of-type) {
          margin-bottom: .05rem;
        }
        dt {
          color: #68400b;
          line-height: 2;
        }
        dd {
          flex: 1;
          line-height: 2;
        }
      }
    }
  }
}
/*品牌理念*/
.about-idea {
  .idea {
    .heading {
      background: url("../images/about-idea-idea-title.png") no-repeat center top / .75rem .193rem,
      url("../images/heading-bg-icon.png") no-repeat center bottom / .1rem;
    }
    .about-idea2 {
      display: block;
      margin-right: auto;
      margin-left: auto;
      width: 2.5rem;
      height: 1.8rem;
    }
  }
  .grade {
    .heading {
      background: url("../images/about-idea-grade-title.png") no-repeat center top / contain,
      url("../images/heading-bg-icon.png") no-repeat center bottom / .1rem;
    }
    margin-top: .3rem;
    margin-bottom: .3rem;
    .picture {
      .picture-list {
        white-space: nowrap;
        overflow-y: auto;
        margin-bottom: .22rem;
        img {
          display: inline-block;
          width: 2rem;
          height: 1rem;
          &:not(:last-of-type) {
            margin-right: .15rem;
          }
        }
      }
      strong {
        display: block;
        font-size: .12rem;
        font-weight: normal;
        color: #666;
        text-align: center;
        line-height: 2;
      }
    }
  }
}
/*美珀优势*/
.about-advantage {
  .heading {
    background: url("../images/about-advantage-title.png") no-repeat center top / .75rem .193rem,
    url("../images/heading-bg-icon.png") no-repeat center bottom / .1rem;
  }
  padding-top: .3rem;
  padding-bottom: .3rem;
  .body {
    li {
      &:not(:last-of-type) {
        margin-bottom: .42rem;
      }
      width: 100%;
      background-size: 100%;
      background-repeat: no-repeat;
      background-position: left top;
      @for $index from 1 through 4 {
        &:nth-of-type(#{$index}) {
          background-image: url("../images/about-advantage#{$index}.png");
        }
      }
      &:nth-of-type(1) {
        padding-top: .49rem;
        padding-left: 1.05rem;
        padding-right: 1em;
      }
      &:nth-of-type(2) {
        padding-right: 1.05rem;
        padding-left: 1em;
      }
      &:nth-of-type(3) {
        padding-top: .22rem;
        padding-left: 1.28rem;
        padding-right: 1em;
      }
      &:nth-of-type(4) {
        padding-right: 1.05rem;
        padding-left: 1em;
      }
      &.marketing-management {
        .policy {
          @extend %clearfix;
          dd {
            width: 50%;
            padding-right: 1em;
            float: left;
          }
        }
      }
      dl {
        display: block;
        font-size: .12rem;
        color: $text-color;
        &:not(:last-of-type) {
          margin-bottom: .3rem;
        }
        dt {
          font-size: .15rem;
          font-weight: 600;
          color: #33436a;
          line-height: 1.6;
          margin-bottom: .07rem;
        }
        dd {
          font-size: .12rem;
          line-height: 1.8;
          color: inherit;
        }
      }
    }
  }
}

/*===联系我们===*/
.contact-section {
  .heading {
    background: url("../images/contact-section-title.png") no-repeat center top / .75rem .193rem,
    url("../images/heading-bg-icon.png") no-repeat center bottom / .1rem;
  }
  padding-top: .3rem;
  padding-bottom: .3rem;
  .body {
    @extend %ellipsis;
    color: $text-color;
    font-size: .12rem;
    line-height: 2em;
    margin-bottom: .22rem;
    padding-top: 0;
    padding-bottom: 0;
    img {
      margin-top: 0;
      margin-bottom: .25rem;
    }
    > div {
      @media (max-width: 374px) {
        width: 100%;
        float: none;
      }
      float: left;
      width: 50%;
      margin-top: 0;
    }
    .addr {
      width: 100%;
    }
    .tel,
    .addr {
      a {
        color: $main-color;
        text-decoration: underline;
      }
    }
  }
  .footer {
    width: 100%;
    padding-top: 1.43rem;
    text-align: center;
    color: #666;
    font-size: .12rem;
    background: url("../images/weixin-code.png") no-repeat center top / 1.26rem;
  }
}

/*===招商加盟===*/
.join-section {
  display: none;
  &.active {
    display: block;
  }
}
/*市场前景,加盟条件*/
.join-market {
  .heading {
    background: url("../images/join-market-title.png") no-repeat center top / .75rem .193rem,
    url("../images/heading-bg-icon.png") no-repeat center bottom / .1rem;
  }
}
.join-condition {
  .heading {
    background: url("../images/join-condition-title.png") no-repeat center top / .75rem .193rem,
    url("../images/heading-bg-icon.png") no-repeat center bottom / .1rem;
  }
}
.join-market,
.join-condition {
  .body {
    img {
      margin-bottom: .25rem;
    }
    dl {
      display: block;
      color: $text-color;
      font-size: .12rem;
      line-height: 1.9;
      &:not(:last-of-type) {
        margin-bottom: .25rem;
      }
      dt {
        @extend %ellipsis;
        position: relative;
        display: block;
        font-size: .14rem;
        color: inherit;
        font-weight: 600;
        height: .16rem;
        line-height: .16rem;
        padding-left: .24rem;
        &::before {
          content: "+";
          position: absolute;
          top: 50%;
          left: 0;
          transform: translateY(-50%);
          width: .14rem;
          height: .14rem;
          line-height: calc(.14rem - 4px);
          text-align: center;
          font-size: .12rem;
          color: #999;
          border: 1px solid currentColor;
        }
      }
      dd {
        display: none;
        margin-top: .1rem;
        color: inherit;
        font-size: .12rem;
        line-height: inherit;
      }
      &.expand {
        dt {
          &::before {
            content: "-";
            color: $main-color;
          }
        }
        dd {
          display: block;
        }
      }
      &.collapse {
        dt {
          &::before {
            content: "+";
            color: #999;
          }
        }
        dd {
          display: none;
        }
      }
    }
  }
}
/*加盟优势*/
.join-advantage {
  .heading {
    background: url("../images/join-advantage-title.png") no-repeat center top / .75rem .193rem,
    url("../images/heading-bg-icon.png") no-repeat center bottom / .1rem;
  }
  .text {
    margin-top: .22rem;
    li {
      position: relative;
      padding-left: .15rem;
      color: #333;
      font-size: .12rem;
      line-height: 1.6;
      &:not(:last-of-type) {
        margin-bottom: .17rem;
      }
      &::before {
        content: "";
        position: absolute;
        top: .03rem;
        left: 0;
        width: .05rem;
        height: .12rem;
      }
      &:nth-of-type(2n + 1) {
        &::before {
          background-color: #33436a;
        }
      }
      &:nth-of-type(2n + 2) {
        &::before {
          background-color: #a57e60;
        }
      }
    }
  }
}
/*加盟支持*/
.join-support {
  .heading {
    background: url("../images/join-support-title.png") no-repeat center top / .75rem .193rem,
    url("../images/heading-bg-icon.png") no-repeat center bottom / .1rem;
  }
  .body {
    .support-list {
      margin-top: .25rem;
      @include center-content-expand(92%);
    }
    li {
      @include center-content(92%);
      padding-top: .2rem;
      padding-bottom: .2rem;
      display: flex;
      &:nth-of-type(2n + 1) {
        background-color: inherit;
      }
      &:nth-of-type(2n + 2) {
        background-color: #f5f5f5;
      }
    }
    i {
      display: block;
      width: .36rem;
      height: .36rem;
      line-height: calc(.36rem - 2px);
      text-align: center;
      margin-right: .16rem;
      font-size: .18rem;
      color: $text-color;
      border: 1px solid #002d62;
      border-radius: 50%;
    }
    dl {
      flex: 1;
      dt {
        font-size: .14rem;
        color: $text-color;
        margin-bottom: .1rem;
      }
      dd {
        font-size: .12rem;
        line-height: 1.8;
      }
    }
  }
}
/*加盟流程*/
.join-process {
  .heading {
    background: url("../images/join-process-title.png") no-repeat center top / .75rem .193rem,
    url("../images/heading-bg-icon.png") no-repeat center bottom / .1rem;
  }
  .body {
    margin-top: .3rem;
    li {
      z-index: 11;  // 大于父元素的 before 伪元素
      position: relative;
      display: table;
      margin-right: auto;
      margin-left: auto;
      height: .4rem;
      line-height: calc(.4rem - 2px);
      padding-right: .35rem;
      padding-left: .35rem;
      background-color: #fff;
      border: 1px solid #ccc;
      border-radius: .2rem;
      font-size: .14rem;
      color: $text-color;
      &:not(:last-of-type) {
        margin-bottom: .32rem;
        &::before {
          content: "";
          position: absolute;
          bottom: -.26rem;
          left: 50%;
          transform: translateX(-50%);
          width: 1px;
          height: .2rem;
          background-color: #999;
        }
        &::after {
          content: "";
          position: absolute;
          bottom: -.26rem;
          left: 50%;
          transform: rotate(-45deg);
          transform-origin: left bottom;
          width: .07rem;
          height: .07rem;
          border-bottom: 1px solid #999;
          border-left: 1px solid #999;
        }
      }
      i {
        font-size: 1.3em;
        color: $main-color;
        margin-right: .1rem;
      }
    }
  }
}
/*体验店风采*/
.join-store {
  .heading {
    background: url("../images/join-support-title.png") no-repeat center top / .75rem .193rem,
    url("../images/heading-bg-icon.png") no-repeat center bottom / .1rem;
  }
  .swiper-wrapper {
    margin-top: 0;
    img {
      display: block;
      max-width: 2.8rem;
      width: auto;
      height: 1.8rem;
      margin: 0 auto;
    }
  }
  .swiper-button-black {
    margin-top: 0;
  }
  .next-btn,
  .prev-btn {
    position: absolute;
    top: 50%;
    width: .16rem;
    height: .4rem;
    margin-top: -.444rem;
    z-index: 10;
    cursor: pointer;
    background-size: .34rem .4rem;
    background-position: center;
    background-repeat: no-repeat;
  }
  .prev-btn {
    left: 0;
    background-image: url("../images/left.png");
  }
  .next-btn {
    right: 0;
    background-image: url("../images/right.png");
  }
  .join-store-heading {
    margin-top: .22rem;
    font-size: .14rem;
    font-weight: 500;
    color: $text-color;
    text-align: center;
    line-height: 1.6;
    padding-right: .32rem;
    padding-left: .32rem;
  }
}

/*===体验店详情===*/
.store-details {
  @include center-content(92%);
  padding-top: .3rem;
  padding-bottom: .3rem;
  color: $text-color;
  font-size: .12rem;
  .heading {
    font-size: .16rem;
    font-weight: 600;
    margin-bottom: .2rem;
    line-height: 1.5;
    color: #a57e60;
  }
  img {
    display: block;
    max-width: 100%;
    height: auto;
    margin: .15rem auto 0;
  }
  img + img {
    margin-top: .2rem;
  }
  p,
  div {
    line-height: .26rem;
    word-wrap: break-word;
    margin-top: .1rem;
  }
  img {
    & + p,
    & + div {
      margin-top: .1rem;
    }
  }
  div {
    > p,
    > div {
      margin-top: .1rem;
    }
  }
  img {
    & + div {
      div,
      p {
        margin-top: .1rem;
      }
    }
  }
}

/*===产品中心===*/
.product-section {
  display: none;
  &.active {
    display: block;
  }
}
.product-section:not(.product-quality) {
  .body {
    @extend %clearfix;
    li {
      float: left;
      width: 48.4%;
      margin-top: .06rem;
      margin-bottom: .06rem;
      a {
        display: block;
        width: 100%;
        height: 100%;
      }
      &:nth-of-type(2n + 1) {
        margin-right: 3.2%;
      }
      &:nth-of-type(4) ~ li {
        display: none;
      }
      img {
        display: block;
        width: 100%;
        height: 1.3rem;
      }
      h4 {
        background-color: #fff;
        height: .7rem;
        padding: .1rem;
        border-bottom-right-radius: .02rem;
        border-bottom-left-radius: .02rem;
        overflow: hidden;
        .cn {
          @extend %ellipsis;
          display: block;
          color: $text-color;
          font-size: .14rem;
          font-weight: 500;
          margin-bottom: .04rem;
        }
        .en {
          @include line-clamp(2);
          display: block;
          color: #666;
          font-size: .1rem;
          line-height: 1.3em;
          max-height: calc(1.3em * 2);
          font-weight: 300;
          word-break: normal;
          word-wrap: break-word;
        }
      }
    }
  }
}
.product-details {
  @include center-content(92%);
  padding-top: .3rem;
  padding-bottom: .3rem;
  font-size: .14rem;
  color: $text-color;
  .heading {
    color: $main-color;
    .cn {
      display: block;
      font-size: .16rem;
      font-weight: 500;
      margin-bottom: .04rem;
    }
    .en {
      display: block;
      font-size: .11rem;
      line-height: 1.3em;
      font-weight: 300;
      word-break: normal;
      word-wrap: break-word;
    }
  }
  img {
    display: block;
    max-width: 100%;
    height: auto;
    margin: .15rem auto 0;
  }
  .parameters {
    display: block;
    color: $text-color;
    font-size: .14rem;
    margin-top: .15rem;
    dt {
      display: block;
      font-weight: 600;
      line-height: 1.6;
      margin-bottom: .02rem;
    }
    dd {
      display: block;
      font-weight: normal;
      line-height: 1.5;
      &:not(:last-of-type) {
        margin-bottom: .1rem;
      }
    }
  }
  p,
  div {
    color: $text-color;
    font-size: .14rem;
    line-height: 1.5;
    margin-top: .1rem;
  }
  img {
    & + p,
    & + div {
      margin-top: .1rem;
    }
  }
  div {
    > p,
    > div {
      margin-top: .1rem;
    }
  }
  img {
    & + div {
      div,
      p {
        margin-top: .1rem;
      }
    }
  }
}
/*品质美珀*/
.product-quality {
  .heading {
    background: url("../images/product-quality-title.png") no-repeat center top / .75rem .193rem,
    url("../images/heading-bg-icon.png") no-repeat center bottom / .1rem;
  }
  padding-bottom: .3rem;
  .swiper-slide {
    img {
      display: block;
      max-width: 100%;
      height: 2.24rem;
      width: auto;
      margin-right: auto;
      margin-left: auto;
    }
  }
  .product-quality-pagination {
    position: absolute;
    top: 2.24rem;
    bottom: auto;
    text-align: center;
    li {
      background-color: #ccc;
      width: .05rem;
      height: .05rem;
      border-radius: 50%;
      opacity: 1;
      &.active {
        background-color: $main-color;
      }
    }
  }
  .product-quality-info {
    margin-top: .4rem;
    h4 {
      font-size: .15rem;
      font-weight: 500;
      color: #33436a;
      line-height: 1.6em;
      text-align: center;
    }
    p {
      font-size: .12rem;
      color: $text-color;
      line-height: 1.8em;
      margin-top: .1rem;
    }
  }
}
.product-open-window {
  .heading {
    background: url("../images/product-open-window-title.png") no-repeat center top / .75rem .193rem,
    url("../images/heading-bg-icon.png") no-repeat center bottom / .1rem;
  }
}
.product-push-pull-window {
  .heading {
    background: url("../images/product-push-pull-window-title.png") no-repeat center top / .75rem .193rem,
    url("../images/heading-bg-icon.png") no-repeat center bottom / .1rem;
  }
}
.product-sliding-door {
  .heading {
    background: url("../images/product-sliding-door-title.png") no-repeat center top / .75rem .193rem,
    url("../images/heading-bg-icon.png") no-repeat center bottom / .1rem;
  }
}
.product-folding-door {
  .heading {
    background: url("../images/product-folding-door-title.png") no-repeat center top / .75rem .193rem,
    url("../images/heading-bg-icon.png") no-repeat center bottom / .1rem;
  }
}
.product-flat-open-door {
  .heading {
    background: url("../images/product-flat-open-door-title.png") no-repeat center top / .75rem .193rem,
    url("../images/heading-bg-icon.png") no-repeat center bottom / .1rem;
  }
}
.product-sunshine-room {
  .heading {
    background: url("../images/product-sunshine-room-title.png") no-repeat center top / .75rem .193rem,
    url("../images/heading-bg-icon.png") no-repeat center bottom / .1rem;
  }
}
